.buildpath
.project
.setting
.settings
build/logs/*.xml
build/coverage/*.js
build/coverage/*.html
build/coverage/*.css
build/coverage/*.png
build/coverage/*.gif
jchart.svg
pdepend.xml
pyramid.svg
nbproject
*.swp
